{% load static %}
{% include  "./head.html"%}
{%load crispy_forms_tags %}

    <!-- Membership Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div
          class="row g-5 mb-5 align-items-end wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="col-lg-6">
            <h1 class="display-5 mb-0">
              Donate and Help more Birds with us!
              <span class="text-primary">BirdLife</span>
            </h1>
          </div>
          <div class="col-lg-6 text-lg-end">
            <a class="btn btn-primary py-3 px-5" href="">Special Pricing</a>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="membership-item position-relative">
              <img class="img-fluid" src="{% static "img/pet-parrot-on-human-hand-1022424278-5c3ded0ac9e77c00016e6e2b.jpg"%}" alt="" />
              <h1 class="display-1">01</h1>
              <h4 class="text-white mb-3">Popular</h4>
              <h3 class="text-primary mb-4">$1 ~ 20</h3>
              <p><i class="fa fa-check text-primary me-3"></i>could provide a day’s fuel for a threatened species survey and anti-poaching activities</p>
              <a class="btn btn-outline-light px-4 mt-3" href="../donate/1">Donate Now!</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="membership-item position-relative">
              <img class="img-fluid" src="{% static "img/dieter-pelz-qvi3wvjsohe-unsplash.jpg"%}" alt="" />
              <h1 class="display-1">02</h1>
              <h4 class="text-white mb-3">Standard</h4>
              <h3 class="text-primary mb-4">$21 ~ 100</h3>
              <p><i class="fa fa-check text-primary me-3"></i>
                could buy an audio monitoring device, used to monitor known populations of threatened species or even rediscover ‘lost’ species by their calls</p>
              <p>
              <a class="btn btn-outline-light px-4 mt-3" href="../donate/2">Donate Now!</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="membership-item position-relative">
              <img class="img-fluid" src="{% static "img/close-up-of-gold-and-blue-macaw-perching-on-tree-962288862-5b50073e46e0fb0037c23c23.jpg"%}" alt="" />
              <h1 class="display-1">03</h1>
              <h4 class="text-white mb-3">Premium</h4>
              <h3 class="text-primary mb-4">$101 ~ 500</h3>
              <p><i class="fa fa-check text-primary me-3"></i>could cover the costs of a village meeting to agree restoration in a vital habitat</p>
              <a class="btn btn-outline-light px-4 mt-3" href="../donate/3">Donate Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Membership End -->

    