{% include './head.html' %}
{%load crispy_forms_tags %}    
<html>
<body>
{%block content%}
        {% if registered %}
        <a href="../profile" class="link-primary">Registration Succeed! Go to Your Home Page</a>
        {%else%}
        <div class="row g-5 mb-5 align-items-end wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-flex align-items-center justify-content-center h-100">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 40%">
        <div class="card-body" >
        <button type="button" class = "btn btn-primary-outline" onClick="javascript:history.go(-1);"style ="margin: 2%">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                </button>
        <div class="d-flex align-items-center justify-content-center h-100">
        <form method="post" action="../registration" enctype='multipart/form-data'>          
        {% csrf_token %}
        {{ regForm|crispy }}
        <div class = "d-flex justify-content-center">
        <input type="submit" class = "btn btn-primary btn-lg" name="submit" value="Submit" /></div>
        </form></div></div></div></div>
        {% endif %}


        {% endblock %}
</div>
</body>
</html>
